* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: black;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.nav-list li {
    flex-grow: 1;
}

li.logo {
    margin-right: auto;
  }